.main-box {
  width: 100%;
  height: 100vh;
}

.img-box {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 95vh;
}

.img-fluid {
  width: 80%;
  height: 90vh;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.6);
  background-size: contain;
  z-index: 1;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
  padding: 20px 0 20px 0;
  color: white;
  top: 250px;
  z-index: 2;
}

.titolo h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 0;
}

.titolo h2 span {
  color: #FF8900;
}

.titolo p {
  font-size: 25px;
  margin: 20px 0 20px 0;
}

.btn-box {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 0 0 20px 0;
}

.btn-box button {
  color: white;
  background-color: rgb(2, 101, 104);
  padding: 10px 20px;
  border: none;
  margin-right: 10px;
  font-weight: 600;
}

.btn-box button a {
  color: white;
  text-decoration: none;
}

.btn-box button:hover {
  background-color: rgba(47, 160, 163, 0.8);
}

.linea {
  width: 60%;
  height: 5px;
  background-color: white;
}

.social img {
  width: 50px;
  height: 50px;
  margin: 15px 10px 15px 0;
}


@media (max-width: 900px) and (min-width:701px) {
  .img-fluid {
    background-size: contain;
    background-position: center;
    position: relative;
    width: 100%;
    height: 80vh;
  }

  .hero {
    position: absolute;
    top: 520px;
    justify-content: center;
    z-index: 2;
    width: 100%;
    padding: 0 20px 0 20px;
  }

  .hero h2 {
    width: 50%;
    font-size: 3.7em;
  }

  .hero p {
    color: black;
    width: 100%;
    font-size: 16px;
  }

  .btn-box {
    flex-direction: column;
  }

  .btn-box button {
    margin-bottom: 10px;
  }

  .linea {
    display: none;
  }

  .social {
    display: none;
  }
}

@media (max-width: 700px) and (min-width:501px) {

  .img-fluid {
    background-size: contain;
    background-position: center;
    position: relative;
    width: 100%;
    height: 80vh;
  }

  .hero {
    position: absolute;
    top: 520px;
    justify-content: center;
    z-index: 2;
    width: 100%;
    padding: 0 20px 0 20px;
  }

  .hero h2 {
    width: 70%;
    font-size: 3.7em;
  }

  .hero p {
    color: black;
    width: 100%;
    font-size: 16px;
  }

  .btn-box {
    flex-direction: column;
  }

  .btn-box button {
    margin-bottom: 10px;
  }

  .linea {
    display: none;
  }

  .social {
    display: none;
  }
}

@media (max-width: 500px) {


  .img-fluid {
    background-size: contain;
    background-position: center;
    position: relative;
    width: 100%;
    height: 80vh;
  }

  .hero {
    position: absolute;
    top: 535px;
    justify-content: center;
    z-index: 2;
    width: 100%;
    padding: 0 20px 0 20px;
  }

  .hero h2 {
    width: 90%;
    font-size: 3.5em;
  }

  .hero p {
    color: black;
    width: 100%;
    font-size: 16px;
  }

  .btn-box {
    flex-direction: column;
  }

  .btn-box button {
    margin-bottom: 10px;
  }

  .linea {
    display: none;
  }

  .social {
    display: none;
  }
}