.servizi-component { 
  background-color: #026568;
  width: 70%;
  padding-top: 50px;
  padding-bottom: 70px;
  margin:20px auto 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.servizi-component h1 {
  color: white;
  font-weight: 800;
  margin-bottom: 20px;
}


.menu {
  max-width: 1100px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin: 10px;
}

.linea {
  margin: 10px 0 10px 0;
  width: 70%;
  height: 3px;
  background-color: white;
}

.menu ul {
  padding: 0 0 0 10px ;
}

.menu ul li {
  list-style: none;
}

.colonna {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.colonna h6 {
  color: #FF8900;
  font-size: 22px;
}

.box {
  width: 80%;
  margin: 0 auto ;
}

.menu ul li a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.menu ul li a:hover {
  color: black;
  text-decoration: underline;
}

@media (max-width: 990px) and (min-width:577px){
  .menu {
    width: auto;
    grid-template-columns: 1fr ;
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .menu {
    width: auto;
    grid-template-columns: 1fr ;
    gap: 10px;
  }

  .colonna h6 {
  font-size: 18px;
}

.menu ul li a {
  font-size: 16px;
}

}