<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container">
    <div class="box-logo">
      <img class="logo" [ngSrc]="logoPath" fill priority alt="Logo">
    </div>
    <div class="container-btn-menu">
      <!-- pulsante mobile per aprire il menu -->
      <button class="navbar-toggler" type="button" (click)="menuOpen = !menuOpen">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" [class.show]="menuOpen">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" (click)="menuOpen = false">Home</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" routerLink="/" (click)="menuOpen = false; scrollTo('chi-siamo')">Chi siamo</a>
          </li>
  
          <!-- menu servizi dropdown -->
          <li class="nav-item dropdown position-static">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Servizi
            </a>
  
            <div class="dropdown-menu mega-menu">
              <div class="mega-container">
                <div class="row">
                  <div class="col-3" *ngFor="let data of filteredServ">
                    <h5>{{ data.title }}</h5>
                    <ul class="list-unstyled">
                      <li *ngFor="let servizio of data.list">
                        <a [routerLink]="['/servizi', servizio.id]" (click)="menuOpen = false"
                          [innerHTML]="servizio.titleServizio">
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="seconda-parte">
                <div class="barra"> </div>
                <div class="prenota">
                  <a href="https://www.miodottore.it/strutture/avicenna-fisiomed">
                    <img class="icon-calendario" src="assets/img/icon/calendar.png" alt="" />
                  </a>
                  <div class="testo-prenota">
                    <h4>PRENOTA UNA VALUTAZIONE</h4>
                    <p>Il primo passo per raggiungere i tuoi obiettivi.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" routerLink="contatti" (click)="menuOpen = false">Contatti</a>
          </li>
        </ul>
      </div>
      <!-- pulsante di prenotazione -->
      <div class="btn-container">
        <button><a href="https://www.miodottore.it/strutture/avicenna-fisiomed" target="_blank">PRENOTA ORA</a></button>
      </div>
    </div>
  </div>
</nav>