.custom-navbar {
  background-color: transparent;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  background-color: var(--bs-navbar-bg);
}

.container {
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-btn-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box-logo {
  position: relative;
  width: 120px;
  aspect-ratio: 3 / 4;
}

.logo {
  margin-left: 15px;
}


/* servizi  */
.navbar-toggler {
  margin-right: 25px;
}

div.collapse.navbar-collapse {
  justify-content: center;
}

a.nav-link {
  display: flex;
  align-items: center;
  color: black !important;
  cursor: pointer;
}

.nav-item .nav-link {
  text-align: center;
  font-size: 22px;
  margin-left: 15px;
  margin-right: 15px;
  height: 50px;
}

.arrow {
  margin-left: 10px;
}


/* menu aperto */
.mega-menu {
  background-color: BLACK;
  width: 100%;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 85px;
  left: 0;
  padding: 0;
}

.row {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: start;
  justify-content: space-Around;
  width: 80%;
  margin: auto;
  padding: 10px;
}

.col-3 {
  margin-top: 25px;
  width: 20%;
}


h5 {
  color: #FF8900;
  margin-bottom: 20px;
  font-weight: 400;
}

.list-unstyled li {
  margin-bottom: 10px;
}

.list-unstyled li a {
  color: white;
  font-size: 17px;
  text-decoration: none;
}


.list-unstyled li a:hover {
  color: rgb(141, 158, 157);
  font-size: 17px;
  text-decoration: none;
}

/* menu aperto seconda parte */
.seconda-parte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.barra {
  width: 80%;
  background-color: white;
  height: 3px;
}

.prenota {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0 20px 0;
}

.icon-calendario {
  width: 100px;
  height: 100px;
}

.testo-prenota {
  color: white;
  font-size: 16px;
}

/* button prenota */
.btn-container {
  width: auto;
  display: flex;
}

.btn-container button {
  margin-right: 20px;
  background-color: black;
  padding: 8px 20px;
  border: none;
  font-weight: 700;
}

.btn-container button a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.btn-container button:hover {
  background-color: #353e3e;
  font-weight: 700;
}

.btn-container button:active {
  background-color: #1a1c1c;
  font-weight: 700;
}

@media (max-width: 990px) and (min-width:577px) {
  nav {
    background-color: transparent !important;
    width: 100%;
    z-index: 1000;
  }

  .container-btn-menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: auto;
  }

  div.collapse.navbar-collapse {
    width: 100% !important;
    position: absolute;
    background-color: black;
    left: 0;
    top: 95%;
    padding: 20px;
    z-index: 999;
  }

  .box-logo {
    width: 80px;
  }

  li .nav-link {
    color: white !important;
    font-size: 20px;
    padding-left: 10%;
  }

  li mat-icon {
    color: white !important;
  }

  .mega-menu {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
  }

  .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .col-3 {
    width: 80%;
    margin-top: 20px;
  }

  .prenota {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0 20px 0;
  }

  .icon-calendario {
    width: 80px;
    height: 80px;
  }


  .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
  }
}


@media (max-width: 576px) {
  nav {
    background-color: transparent !important;
    width: 100%;
    z-index: 1000;
  }



  .container-btn-menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }

  div.collapse.navbar-collapse {
    width: 100% !important;
    position: absolute;
    top: 95%;
    background-color: black;
    padding: 20px;
    z-index: 999;
  }

  .box-logo {
    width: 70px;
  }

  li .nav-link {
    color: white !important;
    font-size: 20px;
    padding-left: 10%;
  }

  li mat-icon {
    color: white !important;
  }


  .mega-menu {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
  }

  .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .col-3 {
    width: 80%;
    margin-top: 20px;
  }

  .prenota {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0 20px 0;
  }

   .icon-calendario {
    width: 80px;
    height: 80px;
  }

  .testo-prenota {
    color: white;
    font-size: 14px;
    margin-left: 5px;
  }

  .testo-prenota h4 {
    font-size: 18px;
    margin-bottom: 0;
  }

  .testo-prenota p {
    margin: 0;
  }

  .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
  }

}